<?xml version="1.0"?>
<robot name="mrobot" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:property name="wheel_radius" value="0.033"/>

  <link name="base_footprint"/>

  <link name="base_link">
  </link>
  <joint name="base_footprint_joint" type="fixed">
    <origin xyz="0 0 ${wheel_radius}" rpy="0 0 0" />
    <parent link="base_footprint"/>
    <child link="base_link" />
  </joint>
</robot>
